/* en XL */
.get_line.metros_line {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
  font-weight: bold;
}
.metro_line,
.metros_line{
 width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px; 
}
/* Station */
.metros_line_station {
  margin: 5px;
}
/* Destination */
.metros_dest {
  
}

.metros_line1,
.metro_line1 {
  background-color: #ffcd00 !important;
}

.metros_line2,
.metro_line2 {
  background-color: #003ca6 !important;
}

.metros_line3,
.metro_line3 {
  background-color: #837902 !important;
}

.metros_line3B,
.metro_line3B {
  background-color: #6ec4e8 !important;
}

.metros_line4,
.metro_line4 {
  background-color: #cf009e !important;
}

.metros_line5,
.metro_line5 {
  background-color: #ff7e2e !important;
}

.metros_line6,
.metro_line6 {
  background-color: #6eca97 !important;
}

.metros_line7,
.metro_line7 {
  background-color: #fa9aba !important;
}

.metros_line7B,
.metro_line7B {
  background-color: #fa9aba !important;
}

.metros_line8,
.metro_line8 {
  background-color: #e19bdf !important;
}

.metros_line9,
.metro_line9 {
  background-color: #b6bd00 !important;
}

.metros_line10,
.metro_line10 {
  background-color: #c9910d !important;
}

.metros_line11,
.metro_line11 {
  background-color: #704b1c !important;
}

.metros_line12,
.metro_line12 {
  background-color: #007852 !important;
}

.metros_line13,
.metro_line13 {
  background-color: #6ec4e8 !important;
}

.metros_line14,
.metro_line14 {
  background-color: #62259d !important;
}
