.noctiliens_line,
.noctilien_line,
.bus_line{
  margin: 10px;
  padding: 1px;
}

/* Station */
.bus_line_station {
  margin: 5px;
}


.bus_line20 {
  background-color: #F68F4B;
}

.bus_line21 {
  background-color: #77C695;
}

.bus_line22 {
  background-color: #008B5A;
}

.bus_line24 {
  background-color: #BB4B9C
}

.bus_line26 {
  background-color: #F68F4B;
}

.bus_line27 {
  background-color: #F68F4B;
}

.bus_line28 {
  background-color: #F59EB3;
}

.bus_line29 {
  background-color: #87D3DF
}

.bus_line30 {
  background-color: #652C90;
}

.bus_line31 {
  background-color: #FFCD02
}

.bus_line32 {
  background-color: #9C983A;
}

.bus_line35 {
  background-color: #77C695;
}

.bus_line38 {
  background-color: #006CB8;
}

.bus_line39 {
  background-color: #BB4B9C
}

.bus_line42 {
  background-color: #006CB8;
}

.bus_line43 {
  background-color: #ED1B2A
}

.bus_line46 {
  background-color: #CEC92A
}

.bus_line47 {
  background-color: #F59EB3;
}

.bus_line48 {
  background-color: #006CB8;
}

.bus_line52 {
  background-color: #87D3DF
}

.bus_line53 {
  background-color: #CEC92A
}

.bus_line54 {
  background-color: #8EC3D1
}

.bus_line56 {
  background-color: #BB4B9C
}

.bus_line57 {
  background-color: #9C983A;
}

.bus_line58 {
  background-color: #008B5A;
}

.bus_line60 {
  background-color: #ED1B2A
}

.bus_line61 {
  background-color: #008B5A;
}

.bus_line62 {
  background-color: #8D653A;
}

.bus_line63 {
  background-color: #CEC92A
}

.bus_line64 {
  background-color: #77C695;
}

.bus_line65 {
  background-color: #008B5A;
}

.bus_line66 {
  background-color: #008B5A;
}

.bus_line67 {
  background-color: #EA7C9A
}

.bus_line68 {
  background-color: #FFCD01
}

.bus_line69 {
  background-color: #87D3DF
}

.bus_line70 {
  background-color: #F68F4B;
}

.bus_line72 {
  background-color: #ED1B2A
}

.bus_line73 {
  background-color: #8D653A;
}

.bus_line74 {
  background-color: #CEC92A
}

.bus_line75 {
  background-color: #FFCD02
}

.bus_line76 {
  background-color: #652C90;
}

.bus_line80 {
  background-color: #F59EB3;
}

.bus_line81 {
  background-color: #C9A2CD
}

.bus_line82 {
  background-color: #F68F4B;
}

.bus_line83 {
  background-color: #FFCD02
}

.bus_line84 {
  background-color: #C9A2CD
}

.bus_line85 {
  background-color: #8D653A;
}

.bus_line86 {
  background-color: #ED1B2A
}

.bus_line87 {
  background-color: #652C90;
}

.bus_line88 {
  background-color: #CEC92A
}

.bus_line89 {
  background-color: #87D3DF
}

.bus_line91 {
  background-color: #DFB03A
}

.bus_line92 {
  background-color: #FFCD02
}

.bus_line93 {
  background-color: #77C695;
}

.bus_line94 {
  background-color: #BB499C
}

.bus_line95 {
  background-color: #8D653A;
}

.bus_line96 {
  background-color: #DFB03A
}

.bus_line101 {
  background-color: #FFCD01
}

.bus_line102 {
  background-color: #FFCD01
}

.bus_line103 {
  background-color: #F68F4B;
}

.bus_line104 {
  background-color: #ED1B2A
}

.bus_line105 {
  background-color: #F68F4B;
}

.bus_line106 {
  background-color: #ED1B2A
}

.bus_line107 {
  background-color: #F59EB3;
}

.bus_line108 {
  background-color: #F59EB3;
}

.bus_line109 {
  background-color: #CEC92A
}

.bus_line110 {
  background-color: #652C90;
}

.bus_line111 {
  background-color: #C9A2CD
}

.bus_line112 {
  background-color: #F68F4B;
}

.bus_line113 {
  background-color: #ED1B2A
}

.bus_line114 {
  background-color: #77C695;
}

.bus_line115 {
  background-color: #008B5A;
}

.bus_line116 {
  background-color: #87D3DF
}

.bus_line117 {
  background-color: #008B5A;
}

.bus_line118 {
  background-color: #E0B03B;
}

.bus_line119 {
  background-color: #FFCD01
}

.bus_line120 {
  background-color: #C9A2CD
}

.bus_line121 {
  background-color: #ED1B2A
}

.bus_line122 {
  background-color: #C9A2CD
}

.bus_line123 {
  background-color: #008B5A;
}

.bus_line124 {
  background-color: #F59FB3;
}

.bus_line125 {
  background-color: #006CB8;
}

.bus_line126 {
  background-color: #87D3DF
}

.bus_line127 {
  background-color: #F68F4B;
}

.bus_line128 {
  background-color: #8D653A;
}

.bus_line129 {
  background-color: #9B993B;
}

.bus_line131 {
  background-color: #8D653A;
}

.bus_line132 {
  background-color: #652C90;
}

.bus_line133 {
  background-color: #77C695;
}

.bus_line134 {
  background-color: #F59FB3;
}

.bus_line137 {
  background-color: #F68F4B;
}

.bus_line138 {
  background-color: #BB4B9C
}

.bus_line139 {
  background-color: #F68F4B;
}

.bus_line140 {
  background-color: #ED1B2A
}

.bus_line141 {
  background-color: #E0B03B;
}

.bus_line143 {
  background-color: #006CB8;
}

.bus_line144 {
  background-color: #C9A2CD
}

.bus_line145 {
  background-color: #BB4B9C
}

.bus_line146 {
  background-color: #C9A2CD
}

.bus_line147 {
  background-color: #ED1B2A
}

.bus_line148 {
  background-color: #8D653A;
}

.bus_line150 {
  background-color: #F59EB3;
}

.bus_line151 {
  background-color: #BB4B9C
}

.bus_line152 {
  background-color: #ED1B2A
}

.bus_line153 {
  background-color: #008B5A;
}

.bus_line156 {
  background-color: #FFCD02
}

.bus_line157 {
  background-color: #BB499C
}

.bus_line158 {
  background-color: #F68F4B;
}

.bus_line159 {
  background-color: #652C90;
}

.bus_line160 {
  background-color: #008B5A;
}

.bus_line162 {
  background-color: #006CB8;
}

.bus_line163 {
  background-color: #DFB03A
}

.bus_line164 {
  background-color: #BB499C
}

.bus_line165 {
  background-color: #F68F4B;
}

.bus_line166 {
  background-color: #652C90;
}

.bus_line167 {
  background-color: #77C695;
}

.bus_line169 {
  background-color: #77C695;
}

.bus_line170 {
  background-color: #87D3DF
}

.bus_line171 {
  background-color: #ED1B2A
}

.bus_line172 {
  background-color: #008B5A;
}

.bus_line173 {
  background-color: #006CB8;
}

.bus_line174 {
  background-color: #008B5A;
}

.bus_line175 {
  background-color: #006CB8;
}

.bus_line176 {
  background-color: #E0B03B;
}

.bus_line177 {
  background-color: #77C695;
}

.bus_line178 {
  background-color: #006CB8;
}

.bus_line179 {
  background-color: #008B5A;
}

.bus_line180 {
  background-color: #9C983A;
}

.bus_line181 {
  background-color: #8D653A;
}

.bus_line182 {
  background-color: #BB4B9C
}

.bus_line183 {
  background-color: #ED1B2A
}

.bus_line184 {
  background-color: #DFB03A
}

.bus_line185 {
  background-color: #F18B3A;
}

.bus_line186 {
  background-color: #B43C95;
}

.bus_line187 {
  background-color: #652C90;
}

.bus_line188 {
  background-color: #C9A2CD
}

.bus_line189 {
  background-color: #F68F4B;
}

.bus_line190 {
  background-color: #8D653A;
}

.bus_line191 {
  background-color: #F59FB3;
}

.bus_line192 {
  background-color: #77C695;
}

.bus_line194 {
  background-color: #F68F4B;
}

.bus_line195 {
  background-color: #BB4B9C
}

.bus_line196 {
  background-color: #E0B03B;
}

.bus_line197 {
  background-color: #ED1B2A
}

.bus_line199 {
  background-color: #CEC92A
}

.bus_line201 {
  background-color: #8D653A;
}

.bus_line203 {
  background-color: #F59FB3;
}

.bus_line206 {
  background-color: #8D653A;
}

.bus_line207 {
  background-color: #DFB03A
}

.bus_line208a {
  background-color: #B43C95;
}

.bus_line208b {
  background-color: #B43C95;
}

.bus_line208s {
  background-color: navy;d=M
}

.bus_line210 {
  background-color: #FFCD01
}

.bus_line211 {
  background-color: #F59FB3;
}

.bus_line212 {
  background-color: #87D3DF
}

.bus_line213 {
  background-color: #9B993B;
}

.bus_line214 {
  background-color: #C9A2CD
}

.bus_line215 {
  background-color: #77C695;
}

.bus_line216 {
  background-color: #ED1B2A
}

.bus_line217 {
  background-color: #652C90;
}

.bus_line220 {
  background-color: #BB499C
}

.bus_line221 {
  background-color: #F59FB3;
}

.bus_line234 {
  background-color: #F68F4B;
}

.bus_line235 {
  background-color: #FFCD02
}

.bus_line237 {
  background-color: #C9A2CD
}

.bus_line238 {
  background-color: #F59EB3;
}

.bus_line239 {
  background-color: #BB4B9C
}

.bus_line241 {
  background-color: #8D653A;
}

.bus_line244 {
  background-color: #BB4B9C
}

.bus_line247 {
  background-color: #F68F4B;
}

.bus_line248 {
  background-color: #C9A2CD
}

.bus_line249 {
  background-color: #CEC92A
}

.bus_line250 {
  background-color: #B43C95;
}

.bus_line251 {
  background-color: #ED1B2A
}

.bus_line252 {
  background-color: #ED1B2A
}

.bus_line253 {
  background-color: #FFCD02
}

.bus_line254 {
  background-color: #77C695;
}

.bus_line255 {
  background-color: #9C983A;
}

.bus_line256 {
  background-color: #8D653A;
}

.bus_line258 {
  background-color: #ED1B2A
}

.bus_line261 {
  background-color: #ED1B2A
}

.bus_line262 {
  background-color: #BB499C
}

.bus_line268 {
  background-color: #DFB03A
}

.bus_line269 {
  background-color: #F68F4B;
}

.bus_line270 {
  background-color: #F59EB3;
}

.bus_line272 {
  background-color: #F68F4B;
}

.bus_line274 {
  background-color: #ED1B2A
}

.bus_line275 {
  background-color: #FFCD02
}

.bus_line276 {
  background-color: #ED1B2A
}

.bus_line278 {
  background-color: #C9A2CD
}

.bus_line281 {
  background-color: #DFB03A
}

.bus_line285 {
  background-color: #BB4B9C
}

.bus_line286 {
  background-color: #C9A2CD
}

.bus_line289 {
  background-color: #BB4B9C
}

.bus_line290 {
  background-color: #C9A2CD
}

.bus_line291 {
  background-color: #9C983A;
}

.bus_line292 {
  background-color: #F59EB3;
}

.bus_line294 {
  background-color: #C9A2CD
}

.bus_line297 {
  background-color: #BB499C;
}

.bus_line299 {
  background-color: #F68F4B;
}

.bus_line301 {
  background-color: #CEC92B
}

.bus_line302 {
  background-color: #FFCD02
}

.bus_line303 {
  background-color: #9B993B;
}

.bus_line304 {
  background-color: #CEC92A
}

.bus_line306 {
  background-color: #006CB8;
}

.bus_line308 {
  background-color: #77C695;
}

.bus_line310 {
  background-color: #CEC92A
}

.bus_line312 {
  background-color: #F68F4B;
}

.bus_line317 {
  background-color: #CEC92A
}

.bus_line318 {
  background-color: #006CB8;
}

.bus_line319 {
  background-color: #008B5A;
}

.bus_line320 {
  background-color: #FFCD02
}

.bus_line321 {
  background-color: #FFCD02
}

.bus_line322 {
  background-color: #87D3DF
}

.bus_line323 {
  background-color: #CEC92B
}

.bus_line325 {
  background-color: #87D3DF
}

.bus_line330 {
  background-color: #FFCD02
}

.bus_line333 {
  background-color: #006CB8;
}

.bus_line334 {
  background-color: #FFCD02
}

.bus_line337 {
  background-color: #652C90;
}

.bus_line340 {
  background-color: #E0B03B;
}

.bus_line341 {
  background-color: #FFCD02
}

.bus_line346 {
  background-color: #CEC92B
}

.bus_line347 {
  background-color: #BB4B9C
}

.bus_line349 {
  background-color: #77C695;
}

.bus_line350 {
  background-color: #652C90;
}

.bus_line351 {
  background-color: #E0B03B;
}

.bus_line355 {
  background-color: #652C90;
}

.bus_line356 {
  background-color: #F68F4B;
}

.bus_line360 {
  background-color: #CEC92B;
}

.bus_line361 {
  background-color: #006CB8;
}

.bus_line366 {
  background-color: #006CB8;
}

.bus_line367 {
  background-color: #FFCD02;
}

.bus_line368 {
  background-color: #CEC92A;
}

.bus_line370 {
  background-color: #87D3DF;
}

.bus_line372 {
  background-color: #FFCD02;
}

.bus_line378 {
  background-color: #008B5A;
}

.bus_line379 {
  background-color: #FFCD01;
}

.bus_line380 {
  background-color: #77C695;
}

.bus_line385 {
  background-color: #DFB03A;
}

.bus_line388 {
  background-color: #FFCD01;
}

.bus_line389 {
  background-color: #006CB8;
}

.bus_line390 {
  background-color: #87D3DF
}

.bus_line391 {
  background-color: #CEC92B
}

.bus_line394 {
  background-color: #652C90;
}

.bus_line395 {
  background-color: #006CB8;
}

.bus_line396 {
  background-color: #CEC92A
}

.bus_line399 {
  background-color: #87D3DF
}

.bus_line421 {
  background-color: #008B5A;
}

.bus_line426 {
  background-color: #8D653A;
}

.bus_line459 {
  background-color: #ED1B2A
}

.bus_line467 {
  background-color: #9B983A;
}

.bus_line471 {
  background-color: #006CB8;
}

.bus_line485 {
  background-color: #F68F4B;
}

.bus_line486 {
  background-color: #008B5A;
}

.bus_line487 {
  background-color: #FFCD02
}

.bus_line488 {
  background-color: #006CB8;
}

.bus_line492 {
  background-color: #FFCD02;
}

.bus_line512 {
  background-color: #FFCD02;
}

.bus_line520 {
  background-color: #008B5A;
}

.bus_line545 {
  background-color: #FFCD01;
}

.bus_line563 {
  background-color: #ED1B2A;
}

.bus_line564 {
  background-color: #006CB8;;
}

.bus_line565 {
  background-color: #008B5A;;
}

.bus_line566 {
  background-color: #F68F4B;;
}

.bus_line595 {
  background-color: #006CB8;;
}
