/* Efface les bordures pointillées sur FF */
* {
  outline: none !important;
  box-sizing: border-box;
}

body{
  margin:40px;

}

.panel-body {
    padding: 5px;
}

.delete_streaming {
  background-color: "red" !important;
}

.select_station {
  margin: 5px;
}

#stream_ratp_loading_spinner_span{
      top: 2px;
    left: 2px;
    position: fixed;
}





#combobox .dropdown-input {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
#combobox .dropdown-btn {
	vertical-align: top;
	height: 36.5px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#combobox .caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px dashed;
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

#metros_input{
  width: 300px;
}


b.item{
  font-size: 1.3em;
}
i.item{
  font-size: 0.7em;
}
