/*
Bootstrap media query 
https://www.alsacreations.com/astuce/lire/1177-une-feuille-de-styles-de-base-pour-le-web-mobile.html_schedules
*/
@media (max-device-width:768px) and (orientation: landscape) {
  html {
   -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
  }
}

@media (max-width: 640px) {
	* {
		box-sizing: border-box;
	
	}
	body, .row, .grid-item, .grid-item.panel{
	  margin: 0;
	  padding: 0;
	  
	}
	
	/* passer body (et tous les éléments de largeur fixe) en largeur automatique */

	
	/* masquer les éléments superflus */

	.hide_mobile {
		display: none !important;
	}
	
	/* Un message personnalisé  * /

	body:before {
		content: "Version mobile du site";
		display: block;
		text-align: center;
		font-style: italic;
		color: #777;
	}
	*/
}